<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>main_multiple</string>
	<key>CFBundleExecutable</key>
	<string>main_multiple</string>
	<key>CFBundleIconFile</key>
	<string>generated-79593c33c2e11c1baa5f28fe58ba02cb8b3a13851010376cf6d822905bb74c93.icns</string>
	<key>CFBundleIdentifier</key>
	<string>main_multiple</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>main_multiple</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
